*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	background: url(nath.jpg);
}
nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
}
label.logo{
	color: red;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: Rockwell;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a .active{
	color: red;

}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;

}
li a:hover:not(.active) {
  background-color: grey;
}

.active {
  background-color: yellowgreen;
}
.sidebar{
	position: fixed;
	width: 10%;
	height: 100%;
	background-color: blue;

}
.sidebar li a{
	color: yellow;
	font-size: 15px;
	padding: 20px;
	border-bottom: 1px solid black;
	text-align: center;
}
a .active,a:hover{
    background: red;
    transition: .5s ;
}
.about{
	font-size: 30px;
	text-align: left;
	margin-top: 100px;
	margin-left: 100px;
	color: red;
}
.age{
	font-size: 30px;
	text-align: left;
	margin-top: 50px;
	margin-left: 100px;
}
.tour{
	font-size: 40px;
	text-align: center;
	margin-left: 100px;
	margin-top: 50px;
	color: red;
	font-family: Papyrus;
	font-weight: bold;
}

.container{
     max-width: 1200px;
     margin: auto;
     background:none;
}
.gallery{
    margin: 5px;
    float: left;
    width: 350px;
    margin-top: 90px;
    margin-left: 45px;
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 10px;
    text-align: center;
    color:darkred;
    font-weight: bold;
    font-size: 30px;
}
